::ng-deep  {
  .search {
    --mat-form-field-container-vertical-padding: 10px;
    --mat-form-field-container-height: auto;
    --mdc-filled-text-field-container-shape: 10px;

    .mdc-text-field {
      padding: 0 15px;
    }

    .mdc-text-field--filled {
      border-radius: var(--mdc-filled-text-field-container-shape);
    }

    &__input-container {
      width: 100%;
    }
  }
}
